@font-face{

    font-family: 'Bahinshift';
    src: url('../fonts/12002.woff') format('woff');
    font-weight: 400;
    font-display: swap;
    font-style: normal;
    }
    @font-face{
    font-family:'Monceratt-SemiBold';
    src: url('../fonts/Montserrat-SemiBold.woff') format('woff');
    font-weight: 600;
    font-display: swap;
    font-style: normal;
    }
    @font-face{
    font-family:'Monceratt-Regular';
    src: url('../fonts/Montserrat-Regular.woff') format('woff');
    font-weight: 400;
    font-display: swap;
    font-style: normal;
    }
    @font-face{
    font-family:'Monceratt-Medium';
    src: url('../fonts/Montserrat-Medium.woff') format('woff');
    font-weight: 500;
    font-display: swap;
    font-style: normal;
    }
    @font-face{
    font-family:'Bellota-Text';
    src: url('../fonts/BellotaText-Regular.woff') format('woff');
    font-weight: 400;
    font-display: swap;
    font-style: normal;
    }